body {
    background-color: #2d4059;
}

img {
    /* border: 1px solid red; */
    width: 200px;
    margin: 20px;
}

#content {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    /* border: 1px solid blue; */
}

#col-button {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
}

#startMav {
    width: 150px;
    height: 150px;
}

.btn-params {
    width: 100px;
    height: 100px;
}

#startMav, .btn-params {
    border-radius: 100%;
    display: inline-block;
    background-color: #2d4059;
    border: 3px solid #F49300;
    outline: none;
}


#startMav:hover, .btn-params:hover {
    cursor: pointer;
    background-color: #F49300;
}

#startMav p:hover, .btn-params p:hover {
    color: #2d4059;
}

#startMav p, .btn-params p {
    color: white;
    font-family: 'Bungee Inline', cursive;
}

#startMav p {
    font-size: 14px;
}

.btn-params {
    font-size: 10px;
}